
<%= form_with model: recipe, url: recipes_path do |form| %>
    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
  
    <div>
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>
  
    <div>
      <%= form.label :preparation_time %>
      <%= form.number_field :preparation_time, step: 1 %>
    </div>
  
    <div>
      <%= form.label :cooking_time %>
      <%= form.number_field :cooking_time, step: 1 %>
    </div>
  
    <div>
      <%= form.label :public %>
      <%= form.check_box :public %>
    </div>
  
    <%= form.submit 'Create Recipe', class: 'btn btn-primary' %>
  <% end %>