<%= stylesheet_link_tag "recipes", "data-turbo-track": "reload" %>

<h2>Recipes</h2>

<div class="add-food-btn">
  <%= link_to 'Create New Recipe', new_recipe_path, class: 'btn btn-primary' %>
</div>

<% @recipes.each do |recipe| %>
  <div class="recipe">
    <div class="left">
      <h3><%= recipe.name %></h3>
      <div class="remove-btn">
        <% if recipe.user == current_user %>
          <%= link_to 'REMOVE', recipe_path(recipe), method: :delete, data: { confirm: 'Are you sure you want to delete this recipe?' } %>
        <% end %>
      </div>
    </div>

    <div class="right">
      <p>Description: <%= recipe.description %></p>
    </div>
    <%= link_to 'View Recipe Details', recipe_path(recipe) %>
  </div>
  <hr>
<% end %>