<%= stylesheet_link_tag "recipes", "data-turbo-track": "reload" %>

<h2>Recipes</h2>

<div class="add-food-btn">
  <%= link_to 'Add Recipe', new_recipe_path, class: 'btn btn-primary' %>
</div>

<% @recipes.each do |recipe| %>
  <div class="recipe">
    <div class="left">
      <h3><%= recipe.name %></h3>
      <div class="remove-btn">
        <% if recipe.user == current_user %>
          <%= form_with(model: recipe, url: recipe_path(recipe), method: :delete) do |form| %>
            <%= form.hidden_field :_method, value: "delete" %>
            <%= form.submit 'Remove', class: 'button-white-black' %>
          <% end %>
        <% end %>
      </div>
    </div>
    
    <%= link_to recipe_path(recipe), class: "right" do %>    
      <p><%= recipe.description %></p>
    <% end %>
  </div>
<% end %>
