<h1>Recipes</h1>


<%= link_to 'Create New Recipe', new_recipe_path, class: 'btn btn-primary' %>
<% @recipes.each do |recipe| %>
  <div>
    <h2><%= recipe.name %></h2>
    <p>Description: <%= recipe.description %></p>
    <p>Preparation Time: <%= recipe.preparation_time %> minutes</p>
    <p>Cooking Time: <%= recipe.cooking_time %> minutes</p>
    <p>Public: <%= recipe.public ? 'Yes' : 'No' %></p>

    <% if recipe.user == current_user %>
      <%= link_to 'Delete', recipe_path(recipe), method: :delete, data: { confirm: 'Are you sure you want to delete this recipe?' } %>
    <% end %>

    <%= link_to 'View Recipe Details', recipe_path(recipe) %>
  </div>
  <hr>
<% end %>