<div class="recipes-show-container">
  <h2><%= @recipe.name %></h2>

  <div class="preparation-and-public">
    <p>Preparation Time: <%= @recipe.preparation_time %> minutes</p>
    <p>Public: <%= @recipe.public ? 'Yes' : 'No' %></p>
  </div>

  <p>Cooking Time: <%= @recipe.cooking_time %> minutes</p>
  <p>Description: <%= @recipe.description %></p>
  
  <div class="generate-and-add">
    <%= link_to 'Generate Shopping List', shopping_list_path %>
    <%= link_to 'Add Ingredient', recipes_path %>
  </div>
  <hr>

  <% if @recipe.user == current_user %>
    <%= link_to 'Delete', recipe_path(@recipe), method: :delete, data: { confirm: 'Are you sure you want to delete this recipe?' } %>
  <% end %>

  <%= link_to 'Back to Recipes', recipes_path %>
</div>