<!-- Path: app/views/layouts/application.html.erb -->
<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

<!DOCTYPE html>
<html>
  <head>
    <title>Recipes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="nav-bar-container">
      <div class="left">
        <%= image_tag "hero.jpg", alt: "hero icon" %>
        <h1>Recipes with Rails</h1>      
      </div>

      <div class="right">
        <% if user_signed_in? %>
          <span>Welcome <%= current_user.name %></span>
        <%end%>
        <%= link_to "Foods", foods_path %>
        <%= link_to "Recipes", recipes_path %>
        <%= link_to "Public Recipes", public_recipes_path %>
        <%= link_to "Shopping List", root_path %>
      </div>
    </div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
